<div class="row">
  <div class="col-xs-3">
    <h2>About</h2>
    <ul>
      <li>{{link-to "Developers" "about.developers"}}</li>
    </ul>
  </div>
  <div class="col-xs-9">
    {{outlet}}
  </div>
</div>
