<div class="container">
  <div class="row">
    <ul class='list-unstyled'>
      <li>{{link-to "About Page" "about"}}</li>
    </ul>
    <h2 id="title">Welcome to Get Crunked</h2>
  </div>
  {{outlet}}
</div>
