<div class="row">
  <div class="col-xs-3">
    <h3>{{link-to "Add A drink" "drinks.new"}}</h3>
    {{#each model as |drink|}}
    <p>
      {{link-to drink.name "drinks.drink" drink}}
    </p>
    {{/each}}
    </div>
    <div class="col-xs-9">
      {{outlet}}
    </div>
</div>
