<div class="row">
  <div class="col-xs-3">
    {{link-to "Add a new drink" "drinks.new"}}
    <ul>
      {{#each model as |drink|}}
      <li>{{link-to drink.name "drinks.drink" drink}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="col-xs-9">
    {{outlet}}
  </div>
</div>
